h1{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}
img{
    width: 100px;
    height: 100px;
    padding: 10px;
}
p{
    font-size: 20px;
    color: rgb(0, 0, 0);
    font-weight: bold;
}